@page
@model IndexModel
@{
    ViewData["Title"] = "O Mais Querido!";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Mídias</title>
</head>
<body>
    <h1>Canto da torcida</h1>

    <nav>
        <a href="https://youtu.be/_CzZNXyEQco" target="_blank">Em dezembro de 81</a>
        <a href="https://youtu.be/ppLPLWAtqaU" target="_blank">Eu sempre te Amarei</a>
        <a href="/Flamengo" target="_blank">Flamengo</a>
        <a href="/Final" target="_blank">Expectativa</a>
    </nav>

    <div>
        <img src="./image/Camp.jpg" alt="Flamengo">
    </div>  
    
   <footer class="inicio">Criado por Cristiano 2022</footer>
</body>
</html>
